name: Build Release

on:
  workflow_call:
    inputs:
      target-env:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3


      - name: Enable Corepack and Yarn 4
        run: |
              corepack enable
              corepack prepare yarn@4.9.1 --activate
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
          cache: 'yarn'

      - name: Cache npm dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock','**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies  
        run: yarn install --immutable

      - name: Build
        run: yarn build

      - name: Upload build artifacts
        continue-on-error: true
        uses: actions/upload-artifact@v4
        with:
          name: build-artifact
          path: ./dist/
